[project]
	description = Inspired by Achtung, die Kurve!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kobieslaw
[access "refs/for/refs/*"]
	read = group user/kobieslaw
	push = group user/kobieslaw
	label-Code-Review = -2..+2 group user/kobieslaw
	label-Verified = -1..+1 group user/kobieslaw
	rebase = group user/kobieslaw
	removeReviewer = group user/kobieslaw
	submit = group user/kobieslaw
[access "refs/heads/*"]
	read = group user/kobieslaw
	create = group user/kobieslaw
	push = +force group user/kobieslaw
	pushMerge = group user/kobieslaw
[access "refs/tags/*"]
	push = +force group user/kobieslaw
	pushTag = group user/kobieslaw
	pushSignedTag = group user/kobieslaw
